@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<div class="page-wrapper">
	<div class="content">
		<div class="page-header">
			<div class="page-title">
				<h4>User List</h4>
				<h6>Manage Users</h6>
			</div>
			<div class="page-btn">
				<button type="submit" class="btn btn-added btnAddUser"><img src="~/assets/img/icons/plus.svg" alt="img" class="me-1">Add User</button>
			</div>
		</div>


		<div class="card">
			<div class="card-body">
				<div class="table-top">
					<div class="search-set">
						<div class="search-path">
							<a class="btn btn-filter" id="filter_search">
								<img src="~/assets/img/icons/filter.svg" alt="img">
								<span><img src="~/assets/img/icons/closes.svg" alt="img"></span>
							</a>
						</div>
						<div class="search-input">
							<a class="btn btn-searchset"><img src="~/assets/img/icons/search-white.svg" alt="img"></a>
						</div>
					</div>
					<div class="wordset">
						<ul>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="~/assets/img/icons/pdf.svg" alt="img"></a>
							</li>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="~/assets/img/icons/excel.svg" alt="img"></a>
							</li>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="~/assets/img/icons/printer.svg" alt="img"></a>
							</li>
						</ul>
					</div>
				</div>
				<!-- /Filter -->
				<div class="card" id="filter_inputs">
					<div class="card-body pb-0">
						<div class="row">
							<div class="col-lg-3 col-sm-6 col-12">
								<div class="form-group">
									<input type="text" class="txtSearchBar" placeholder="Aramak istediğiniz metni giriniz.">
								</div>
							</div>
							<div class="col-lg-3 col-sm-6 col-12">
								<div class="form-group">
									<a class="btn btn-filters"><img src="~/assets/img/icons/search-whites.svg" alt="img"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table dataTable"></table>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modals"></div>

<script src="~/js/Views/Admin/Users.js"></script>