@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="main-wrapper">
    <div class="account-content">
        <div class="login-wrapper">
            <div class="login-content">
                <div class="login-userset">
                    <div class="login-logo logo-normal">
                        <img src="~/assets/img/logo.png" alt="img">
                    </div>
                    <a href="index.html" class="login-logo logo-white">
                        <img src="~/assets/img/logo-white.png" alt="">
                    </a>
                    <div class="login-userheading">
                        <h3>Create an Account</h3>
                        <h4>Continue where you left off</h4>
                    </div>

                    <form id="frmRegister" name="frmRegister" method="post">

                        <div class="form-login">
                            <label>TC Kimlik No</label>
                            <div class="form-addons">
                                <input name="txtTckn" type="text" placeholder="TC Kimlik numaranızı giriniz">
                                <img src="~/assets/img/icons/users1.svg" alt="img">
                            </div>
                        </div>
                        <div class="form-login">
                            <label>Adı</label>
                            <div class="form-addons">
                                <input name="txtName" type="text" placeholder="Adınızı giriniz">
                                <img src="~/assets/img/icons/mail.svg" alt="img">
                            </div>
                        </div>
                        <div class="form-login">
                            <label>Soyadı</label>
                            <div class="form-addons">
                                <input name="txtSurname" type="text" placeholder="Soyadınızı giriniz">
                                <img src="~/assets/img/icons/mail.svg" alt="img">
                            </div>
                        </div>
                        <div class="form-login">
                            <label>Email</label>
                            <div class="form-addons">
                                <input name="txtEmail" type="text" placeholder="Mail adresinizi giriniz">
                                <img src="~/assets/img/icons/mail.svg" alt="img">
                            </div>
                        </div>
                        <div class="form-login">
                            <label>Telefon Numarası</label>
                            <div class="form-addons">
                                <input name="txtPhoneNumber" type="text" placeholder="Telefon numaranızı giriniz">
                                <img src="~/assets/img/icons/mail.svg" alt="img">
                            </div>
                        </div>
                        <div class="form-login">
                            <label>Şifre</label>
                            <div class="pass-group">
                                <input name="txtPassword" type="password" class="pass-input" placeholder="Şifrenizi giriniz">
                                <span class="fas toggle-password fa-eye-slash"></span>
                            </div>
                        </div>
                        <div class="form-login">
                            <button type="submit" class="btn btn-login btnSignUp">Sign Up</button>
                        </div>

                    </form>


                    <div class="signinform text-center">
                        <h4>Already a user? <a href="@Url.ActionLink("","Login")" class="hover-a">Sign In</a></h4>
                    </div>
                    <div class="form-setlogin">
                        <h4>Or sign up with</h4>
                    </div>
                    <div class="form-sociallink">
                        <ul>
                            <li>
                                <a href="javascript:void(0);">
                                    <img src="~/assets/img/icons/google.png" class="me-2" alt="google">
                                    Sign Up using Google
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img src="~/assets/img/icons/facebook.png" class="me-2" alt="google">
                                    Sign Up using Facebook
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="login-img">
                <img src="~/assets/img/login.jpg" alt="img">
            </div>
        </div>
    </div>
</div>

<script src="~/js/views/login/login.js"></script>